  body {
    background-color: #233462;
}
body{
    background-image: url("https://media.giphy.com/media/26ybvdfI96NUxjJra/giphy.gif");
    background-size: 1366px 600px;
    background-repeat: no-repeat;
}
* {
  box-sizing: border-box;
}
.jumbotron {
   opacity: 0.7;
}
.box {
  float: left;
  width: 10%;
  padding: 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.game {
  content: "";
  clear: both;
  float:right;
  position: relative;
}

.container-fluid {

}
.bins{
  float: left;
  position: fixed;
  right: 10%;
  bottom: 25%;
}
.container {
  font-color: white;
  max-width: 45%;
  width: 45%;
  display: inline-block;
  margin: 0px;
}
