  body {
    background-color: #233462;
    
    /* background-image: url("https://media.giphy.com/media/ELFhLUxNqjtL2/giphy.gif"); */
  }

.container {
  font-color: white;
  max-width: 45%;
  width: 45%;
  display: inline-block;
  margin: 0px;
}
.bins{

}